@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Syne:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Syne", sans-serif;
  color: #fff;
  background-color: #101113;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:visited {
  color: currentColor;
}

.btn {
  border-style: none;
  background: none;
  cursor: pointer;
}

:focus {
  outline: none;
}

.header {
  background-color: #1e1e1e;
  padding: 32px 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 45px;
  font-family: "Righteous";
  color: #fff;
}
.logo--color {
  color: #a6a001;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 18px;
  font-weight: 500;
}
.navbar__item--active, .navbar__item:hover, .navbar__item:focus, .navbar__item:focus-within {
  color: #a6a001;
}

.btn__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: max-content;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.btn__link:hover .btn__circle {
  width: 100%;
}
.btn__circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a6a001;
  border-radius: 24px;
  width: 42px;
  height: 42px;
  transition: 300ms ease-in-out;
}
.btn__text {
  z-index: 1;
}
.btn__text::after {
  margin-left: 10px;
  content: ">";
}

.section {
  padding: 60px 0;
}
.section__title {
  margin-bottom: 80px;
  font-family: getfont("Montserrat");
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.26;
  color: #a6a001;
}
.section__name {
  color: rgba(255, 255, 255, 0.2);
  font-size: 65px;
  font-weight: 700;
  line-height: 1.26;
  text-transform: uppercase;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, #101113 40%);
  background-position: 220px -100px;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__title {
  margin: 33px 0;
  font-size: 64px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.26;
  text-transform: uppercase;
}
.hero__name {
  color: #a6a001;
}
.hero__intro {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.66;
  margin-bottom: 50px;
}
.hero__img {
  transform: scaleX(-1);
}

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  height: 100px;
  background-color: #1e1e1e;
}
.companies__list {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  gap: 30px;
}
.companies__list .company__item {
  display: flex;
  height: 35px;
}

.services {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .cards__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}
.services .section__name {
  position: absolute;
  right: -140.95px;
  transform: translateX(50%) rotate(-90deg);
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #1e1e1e;
  background: #1e1e1e;
  padding: 30px 30px 50px 30px;
  width: 410px;
}
.card__icon {
  width: 100px;
  height: 100px;
}
.card__title {
  margin-top: 115px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}
.card__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: getColr("tx-color1");
}

.filters__list {
  border-radius: 20px;
  background: #1e1e1e;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.filters__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.filters__item--active .filters__link, .filters__item:hover .filters__link, .filters__item:focus .filters__link, .filters__item:focus-visible .filters__link, .filters__item:focus-within .filters__link {
  background-color: #a6a001;
  color: #1e1e1e;
}
.filters__link {
  padding: 15px 25px;
  border-radius: 12px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.projects__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__container .section__name {
  position: absolute;
  left: -140.95px;
  transform: translateX(50%) rotate(-90deg);
  transform: translateX(-50%) rotate(-90deg);
}
.projects__gallery {
  margin-top: 75px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}
.projects__gallery .gallery__link {
  position: relative;
}
.projects__gallery .gallery__link .project__texts {
  position: absolute;
  bottom: 0;
  padding: 50px 30px;
}
.projects__gallery .gallery__link .project__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
.projects__gallery .gallery__link .project__description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}
.projects__gallery .gallery__img {
  border-radius: 25px;
}
.projects__gallery .item1 {
  grid-area: 1/1/2/3;
}
.projects__gallery .item2 {
  grid-area: 1/3/2/4;
}
.projects__gallery .item3 {
  grid-area: 2/1/3/2;
}
.projects__gallery .item4 {
  grid-area: 2/2/3/4;
}
.projects__gallery .item5 {
  grid-area: 3/1/4/3;
}
.projects__gallery .item6 {
  grid-area: 3/3/4/4;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 70px 50px;
  background-color: #1e1e1e;
  border-radius: 15px;
}
.testimonials__container .section__name {
  position: absolute;
  right: -140.95px;
  transform: translateX(50%) rotate(-90deg);
}
.testimonials__texts {
  width: 603px;
}
.testimonials__texts .person__name {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}
.testimonials__texts .person__declaration {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42;
  color: #a9a9a9;
}
.testimonials__icon {
  width: 121px;
  height: 97px;
  fill: #232a33;
  float: right;
}

/*# sourceMappingURL=style.css.map */
