@import 'utils/fonts';
@import 'utils/colors';
@import 'utils/variables';
@import 'utils/mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: getFont('page'), sans-serif;
  color: getColor('white');
  background-color: getColor('bg-color1');
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.link {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: currentColor;
  }
}

.btn {
  border-style: none;
  background: none;
  cursor: pointer;
}

:focus {
  outline: none;
}

@import 'components/header';
@import 'components/logo';
@import 'components/navbar';
@import 'components/btn';
@import 'components/section';
@import 'components/hero';
@import 'components/companies';
@import 'components/services';
@import 'components/card';
@import 'components/filters';
@import 'components/projects';
@import 'components/testimonials';
