.btn {
  &__link {
    position: relative;
    @include createFlex;
    height: 42px;
    width: max-content;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    &:hover {
      .btn__circle {
        width: 100%;
      }
    }
  }
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: getColor('highlighted-color');
    border-radius: 24px;
    width: 42px;
    height: 42px;
    transition: 300ms ease-in-out;
  }
  &__text {
    z-index: 1;
    &::after {
      margin-left: 10px;
      content: '>';
    }
  }
}
