.hero {
  &__container {
    @include createFlex;
    gap: 50px;
    background: radial-gradient(circle, getColor('white-o40') 0%, getColor('bg-color1') 40%);
    background-position: 220px -100px;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.26;
    text-transform: capitalize;
  }
  &__title {
    margin: 33px 0;
    font-size: 64px;
    font-family: getFont('titles');
    font-weight: 700;
    line-height: 1.26;
    text-transform: uppercase;
  }
  &__name {
    color: getColor('highlighted-color');
  }
  &__intro {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.66;
    margin-bottom: 50px;
  }
  &__img {
    transform: scaleX(-1);
  }
}
